.selectTitle {
  padding: 10px;
  cursor: pointer;
}

.list {
    display: none;
}

.listExpanded {
    display: block;
}

.selectRow {
  padding: 10px;
  list-style-type: none;
}

.selectRow:hover {
  font-size: large;
  cursor: pointer;
}
